<ion-header>
  <ion-toolbar>
    <ion-title>Tareas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-item class="ion-margin-bottom">
    <ion-input
      placeholder="Nueva tarea"
      [(ngModel)]="title">
    </ion-input>

    <ion-input
      placeholder="Descripción"
      [(ngModel)]="description">
    </ion-input>

    <ion-select
      *ngIf="categoriesEnabled$ | async"
      placeholder="Categoría"
      [(ngModel)]="categoryId">
      <ion-select-option [value]="null">Sin categoría</ion-select-option>
      <ion-select-option
        *ngFor="let c of categories$ | async"
        [value]="c.id">
        {{ c.name }}
      </ion-select-option>
    </ion-select>

    <ion-button slot="end" (click)="add()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-label>Filtrar</ion-label>
    <ion-select (ionChange)="filter($event.detail.value)">
      <ion-select-option [value]="null">Todas</ion-select-option>
      <ion-select-option
        *ngFor="let c of categories$ | async"
        [value]="c.id">
        {{ c.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <cdk-virtual-scroll-viewport itemSize="72" style="height: 100vh">
    <ion-item *cdkVirtualFor="let task of filteredTasks">
      <ion-checkbox
        slot="start"
        [checked]="task.completed"
        (ionChange)="toggle(task.id)">
      </ion-checkbox>
      <ion-label>{{ task.title }}</ion-label>
      <ion-label>{{ task.description }}</ion-label>

      <ion-button
        slot="end"
        color="primary"
        fill="clear"
        (click)="edit(task)"
      >
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>

      <ion-button
        slot="end"
        color="danger"
        fill="clear"
        (click)="confirmDelete(task)"
      >
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </cdk-virtual-scroll-viewport>
</ion-content>